#Variable Para Arrancar La Aplicación
PUERTO
#Variables Para Correos
CORREO_HOST
CORREO_PUERTO
CORREO_SEGURIDAD
CORREO_USUARIO
CORREO_CONTRASENA
#Llaves Para El JWT
TOKENS_LLAVE_PRIVADA
TOKENS_ALGORITMO
#Variables Del Dominio
DOMINIO
DOMINIO_URL
DOMINIO_BASE_DN
DOMINIO_USUARIO_PRUEBA
DOMINIO_CONTRASENA_USUARIO_PRUEBA
DOMINIO_FILTRO_BUSQUEDA
DOMINIO_ATRIBUTOS
DOMINIO_PUERTO
DOMINIO_GRUPOS_EXCLUIDOS
#Variables para Base de datos
DATABASE_URL
DB_USER
DB_PASSWORD
DB_NAME
DB_HOST